html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.jumbotron {
  background-color: transparent;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 0;
}

.jumbotron .brand {
  font-size: 21px;
  font-weight: lighter;
}

.navbar {
  margin-bottom: 0;
}

a {
  color: #277B99;
}

a:hover {
  color: #2E92B5;
  text-decoration: none;
}

.brand a {
  color: #fff;
}

.brand a:hover {
  text-decoration: none;
}

.lighter {
  opacity: 0.5;
}

.main-nav {
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
}

.main-nav li {
  float: left;
  margin-left: 70px;
}

.main-nav a {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
}

.main-nav a:hover {
  color: #fff;
  text-decoration: none;
}

.main-nav a.active {
  color: #fff;
  color: rgba(255, 255, 255, 1);
}

.tagline {
  font-weight: 100;
  color: #fff;
}

.search {
  position: relative;
}

.search input {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 0;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  left: 0;
}

.search button {
  position: absolute;
  right: 0;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-top: 0;
}

/* Custom styles for buttons */
.btn {
  border-radius: 2px;
  border: none;
  padding: 11px 17px;
}

.btn-primary {
  background-color: #1D5B70;
}

.btn-primary:hover {
  background-color: #124557;
}

/* Custom styles for labels */
.label-default {
  background-color: #fff;
  color: #000;
}

.search input:focus {
  border-color: #fff;
  box-shadow: none;
}

.loader {
  margin-top: 80px;
}

.shows-list {
  margin-top: 40px;
}

.songs-list {
  margin-top: 40px;
}

.songs-list p {
  font-weight: lighter;
}

.list-group-item {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  border-radius: 2px;
  border: none;
}
